.mall-button {
}
.mall-title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #1c1c1c;
}
.mall-content {
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mall-modal-wapper {
    width: 100%;
}

.mall-product {
    width: 20vw;
    height: 20vw;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--tg-theme-button-color);
    color: #fff;
    border: none;
    font-size: 16px;
}