.hole {
  border-radius: 50%;
  width: 22vw;
  height: 22vw;
  background-size: cover;
  margin: 1.5vh;
  position: relative;
  background-image: url('../../assets/tukeng_wapper.png');
  display: flex;
  place-items: center;
  place-content: center;
}


.hole__mole{
  width: 22vw;
  height: 22vw;
  position: relative;
  /* top: 24vw; */
}
.hole__mole.un-active{
  animation: holeOut 0.735s forwards;
}

.hole__mole.active{
  animation: holeIn 0.375s forwards;
}
@keyframes holeIn {
  0% { top: 24vw; }
  100% { top: 0; }
}
@keyframes holeOut {
  0% { top: 0; }
  50% { top: 0; }
  100% { top: 24vw; }
}
.hole__mole__wapper {
  width: 22vw;
  height: 14vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.hole__mask {
  width: 22vw;
  height: 22vw;
  left: 0;
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: 1;
}

.hole__chuizi {
  animation: chuiziIn .335s forwards;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  pointer-events: none;
  z-index: 2;
}

@keyframes chuiziIn {
  0% { 
    transform: rotate(0deg) translateX(5vw);
    opacity: 1;
  }
  100% { 
    transform: rotate(-45deg) translateX(-10vw); 
    opacity: 0;
  }
}