.hole {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  margin: 0.4rem;
  background-image: url('../../assets/tukeng.png');
  display: flex;
  place-items: center;
  place-content: center;
}

.hole__mole{
  width: 20vw;
  height: 20vw;
  cursor: pointer;
}