html, body {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
}
div{
    user-select: none;
}
#root {
    height: 100%;
}
.empty-page {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tool-bar-wapper {
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4vh;
}
.round-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    border: none;
    font-size: 1rem;
}
.options-button {
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    gap: 10px;
    right: 0;
    padding: 10px;
}